/* COMMON */
/* <!--
  body > header
       > section
--> */
.container {
  /*display: block;*/
  color: #333; /* 진한 회색 */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  height: 3000px;
  position: relative;

}
img {
  /* img는 inline 때문에 baseline(글짜 소문자를 상상) 위아래의 여백이
  존재. 이것을 없애기 위해서 DISPLAY: 를 inline 블록으로 지정 */
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}
.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}
/* HEADER */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  /* position: relative; */
  width: 100%;
  position: fixed;
  z-index: 9;
}
header > .inner {
  /* width: 1100px;  !!중복*/
  height: 120px;
  /* margin: 0 auto; 중간 정렬 !!중복 */
  /* position: relative; 하위 포지션을 제어하기 위한 속성 !!중복*/
}
header .logo {
  height: 75px; /*필수 정렬을 위해서*/

  /*부모 요소를 기준으로 함
    상하좌우 기준점을 지정*/
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  /* display: none; */
  margin: auto 0; /*위아래의 마진을 기준으로 중간에 맞춤*/
}
header .sub-menu {
  position: absolute;
  display: flex;
  top: 10px;
  right: 0;
}
header .sub-menu ul.menu {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
header .sub-menu ul.menu li {
  position: relative;
  
}
header .sub-menu ul.menu li::before {
  content: ""; /* 앞에 텍스트를 넣을 수 있게 */
  /* display: block; 아래 position: absolute 블록화 되니까 요라인은 없앰*/
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  /*Li 의 크기에 맞춤*/
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px; /*clickable area 확장하기 위해서*/
  display: block;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}
header .sub-menu .search {
  height: 34px;
  position: relative;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width 0.4s;
}
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #690;
}
header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: 0.4s;
}
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

/* 메인 메뉴 */
header .main-menu {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
header .main-menu .item {

}
header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #690;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  display: block;
}
header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
  /* height: 200px; */
}
header .main-menu .item .item__contents .contents__menu > ul {
  /* .inner */
  display: flex;
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li > h4 {
  /*  <h4>커피  */
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  /*  <h4>커피  */
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li > ul > li {
  /*  세부 메뉴 */
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li > ul > li:hover {
  color: #690;
}
header .main-menu .item .item__contents .contents__texture {
  /* background-color: orange; */
  /* height: 100px; */
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");
  
}
header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p {
  color: #690;
  margin: 4px 0 14px;
}

/** Badges **/
header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}
header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
  cursor: pointer;
}
header .badges .badge img {

}

/**
  SECTION: VISUAL(<Section>)
  .visual .inner .title img
**/

.visual {
  width: 100%;
  position: absolute;
  margin-top: 120px;
  background-image: url(../images/visual_bg.jpg);
  background-position: center;
}
.visual .inner {
  height: 646px;
   background-color: orange;
}
.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}
.visual  .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}

.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}
.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}
.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}
.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}
.visual .fade-in {
  opacity: 0;
}


/**
  NOTICE
  .notice .notice-line {.bg-left .bg-right .inner }
**/
.notice {
  position: absolute;
  width: 100%;
  margin-top: 767px;
}

.notice .notice-line {
  position: relative;
}
.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333333;
}
.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}
/*.notice .notice-line .inner {*/
/*  height: 62px;*/
/*  border: 2px solid orange;*/
/*}*/
.notice .notice-line .inner {
  height: 62px;
  /*width: 100%;*/
  /*border: 2px solid orange;*/
  display: flex;
}
.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: #333333;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left h2 {
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  margin-right: 20px;
}
.notice .notice-line .inner__left .swiper {
  /*background-color: orange;*/
  height: 62px;
  flex-grow: 1;
}
.notice .notice-line .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left .swiper-slide a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__left .notice-line__more .material-icons {
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
}
.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.notice .notice-line .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice .notice-line .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
  outline: none;
  cursor: pointer;
}
.notice .promotion {
  height: 693px;
  /*background-color: orange;*/
  background-color: #f6f5ef;
  position: relative;
  transition: height .4s;
  overflow: hidden;
}
.notice .promotion.hide {
  height: 0;
}
.notice .promotion .swiper {
  width: calc(819px * 3 + 20px);
  /*display: flex;*/
  height: 553px;
  /*background-color: orange;*/
  /*text-align: center;*/
  /*font-size: 200px;*/
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px)/-2);
}

.notice .promotion .swiper .swiper-slide {
  /*width: 819px;*/
  /*height: 300px;*/
  /*background-color: #f6f5ef;*/
  /*margin: 50px 10px;*/
  opacity: 0.5;
  transition: opacity 1s;
  /*position: relative;*/
}
.notice .promotion .swiper .swiper-slide-active {
  opacity: 1;
}
.notice .promotion .swiper .swiper-slide .btn {
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  margin: auto;
}

.promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}
.promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  margin-right: 6px;
  /*font-size: 20px;*/
  height: 12px;
  width: 12px;
  outline: none;
}
.promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}
.promotion .swiper-prev,
.promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;

}
.promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}
.promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}
.promotion .swiper-prev:hover,
.promotion .swiper-next:hover {
  background-color: #333333;
  color: #ffffff;
}

.rewards {
  width: 100%;
  position: absolute;
  top: 1522px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.rewards .bg-left {
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}
.rewards .bg-right {
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}
.rewards .inner {
  background-image: url("../images/rewards.jpg");
  height: 241px;
  position: absolute;
  /*top: 1522px;*/
  /*left: 0;*/
  /*right: 0;*/
}


